body {
  padding-top: 50px;
}
#main {
  padding: 40px 15px;
}
#main .flash {
  text-align: left;
}
#video {
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}
#player {
  border: 1px solid black;
}
.label-fixed {
  background-color: #660065;
}
.label-fixed[href]:hover,
.label-fixed[href]:focus {
  background-color: #80007e;
}
.add-tag-button:link,
.add-tag-button:visited,
.add-tag-button:hover,
.add-tag-button:active {
  text-decoration: none;
}
.add-tag-label:hover {
  color: #0645AD;
}
#add-tag-popover .popover {
  width: 230px;
}
.delete-tag-button {
  color: red;
  background-color: transparent;
  display: inline-block;
  margin: 0px 0px;
  padding: 0px 0px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.delete-tag-button:hover {
  text-decoration: none;
}